# Database
DATABASE_URL="postgresql://user:password@host:5432/lms_bimbel"

# NextAuth
NEXTAUTH_URL="https://lmsbimbel.digsan.id"
NEXTAUTH_SECRET="generate-with: openssl rand -base64 32"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# App
NEXT_PUBLIC_APP_NAME="EduBimbel LMS"
NEXT_PUBLIC_APP_URL="https://lmsbimbel.digsan.id"
NEXT_PUBLIC_APP_VERSION="1.0.0"

# Storage (Cloudinary)
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Payment Gateway (Midtrans)
MIDTRANS_SERVER_KEY=""
MIDTRANS_CLIENT_KEY=""
MIDTRANS_IS_PRODUCTION="false"

# WhatsApp API
WHATSAPP_API_URL=""
WHATSAPP_API_TOKEN=""
